<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="Stylesheet" href="css/ingredients.css">
    <script src="https://kit.fontawesome.com/0dd476aedc.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="ing">
        <a href="/home">Home</a>
        <a href="/contact">Contact Us</a>
        <a class = "nav" href="/change-password"> Change Password </a>
        <a href="/profile">Profile</a>
        <a href="/logout">LogOut</a>
    </div>
        <img class="connect" src="images/contact1.avif" alt="connect">
        <div class="icons">
            <i class="fa-brands fa-linkedin" onclick="location.href='https://www.linkedin.com/in/sreenija-vadla-906479202/'";></i>
            <i class="fa-brands fa-medium" onclick="location.href='https://medium.com/'";></i>
            <i class="fa-brands fa-x-twitter" onclick="location.href='https://twitter.com/sreenija_sekhar'";></i>
        </div>
        <div class="para">
            <p class="icons">LinkedIn</p>
            <p class="icons">Medium</p>
            <p class="icons">Twitter</p>
        </div>
    
</body>
</html>