<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search History</title>
    <style>
        /* Add your CSS styles for the search history page here */
        .search-history {
            margin: 20px;
        }
        .search-item {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 10px;
            background-color: bisque;
            font:20px;
            font-family: Arial, Helvetica, sans-serif;
        }

        h1{
            color:green;
            font-family:Arial, Helvetica, sans-serif;
            text-align:center;

        }

        div.home{
            text-align: right;
            padding: 20px;
        }
        .home a {
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    font: 20px;
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.3s;
}

.home a:hover {
    background-color: #0056b3;
}

    </style>
</head>
<body>
    <div class = "home"><a  href="/byingredient">Back to Page</a> </div>
    <h1 >Search History</h1>
    
    <div class="search-history">
        <% if (searchHistory.length > 0) { %>
            <% searchHistory.reverse().forEach(item => { %>
                <div class="search-item">
                    <p><strong>Searched:</strong> <%= item.searchitem %></p>
                    <p><strong>Searched Time:</strong> <%= item.searchTimestamp.toLocaleString() %></p>
                </div>
            <% }); %>
        <% } else { %>
            <div class="search-item">
                <p>No search history found.</p>
            </div>
        <% } %>
    </div>
</body>
</html>
