<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification </title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
        }
        .container {
            width: 400px;
            margin: 100px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h2 {
            text-align: center;
            color: #333;
        }
        input[type="email"] {
            width: 100%;
            padding: 10px;
            margin-top: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        input[type="submit"] {
            width: 100%;
            background-color: #007bff;;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-top: 10px;
        }
        input[type="submit"]:hover {
            background-color: #0056b3;
        }
    </style>
    <script defer>
        function validateemail() {
            let email = document.getElementById("Useremail");
            // Regex pattern for email validation
            let emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
            if (email.value.trim() === "") {
                alert("Email is required.");
                return false;
            }
            // Check if email is valid
            if (!emailPattern.test(email.value)) {
                alert("Email is not valid. Enter valid email.")
                return false;
            } 
            // Check if password is provided
            
            // Form is valid, allow submission
            return true;
        }
    
    
    </script>
</head>
<body>
    <div class="container">
        <h2 style="color:green">Resend Verification Link</h2>
        <form method="POST" autocomplete="off" onsubmit="return validateemail()">
            <label for="Useremail">Enter email for sending verification link:</label>
            <input type="email" id="Useremail" name="Useremail" required>
            <input type="submit" value="Send"> <br> <br>
            <center><span class="psw"><a id="login" 
                    href="/">Back to Login</a></span> </center><br>
        </form>
        <p> <% if (message) { %>
            <p style="color:grey ;text-align:center"><%= message %></p>
        <% } %></p>

    </div>
</body>
</html>
